In [3]:
#1.Write a statement(WAS) to print “Hello World” by using shell
"hello world"

'hello world'

In [3]:
#2)WAS to print “Hello world” by using python print function
print("hello world")

hello world

In [4]:
#3)WAS to initialize variable and value as 50.
a=50
a

50

In [5]:
#4.WAS to initialize multivariable value are 150,120,250(take your own variable names)
a,b,c=150,120,250
print(a,b,c)

150 120 250

In [6]:
#5)WAS to print the type of the data in the given value. 
a=10
print(type(a))

<class 'int'>

In [7]:
#6)WAS to print the address of the memory block in given value.
a=10
print(id(a))

2193742299664

In [3]:
#7)WAS to print your details, first store your details, extract the values and display it.
name="alice"
age=21
print(name,age)

alice 21

In [18]:
#8)WAS to swap the two values. With a temp variable.
a=20
b=30
temp = a
a = b
b = temp
print(a,b)

30 20

In [21]:
#9)WAS to swap the two values without temp variable
a=10
b=20
a,b=b,a
print(a,b)

20 10

In [23]:
#10)WAS to initialize a value and print the value, after print then reinitialize the new value to the existing variable and display the value.
a=10
a=20
print(a)

20

In [27]:
#11)WAS to convert single to multi value data type
#I/p ⇒ a=10
#o/p ⇒ [‘1’,’0’]
a=10
b=(str(a))
print(list(b))

['1', '0']

In [29]:
#12)WAS to concat the two multi value data types(str , list, tuple, dict).
a='10'
b='30' 
print(a+b)

1030

In [30]:
#13)WAC to perform  the length of the collection.
a="hello"
print(len(a))

5

In [2]:
#14)WAC to find out the middle value of the given collection.
a='helloworld'(len(a))

10

In [3]:
#15)WAS to concat the new string into the starting of the given string.
a="world"
b='hello'+a
print(b)

helloworld

In [4]:
#16)WAS to concat the new string into the ending of the given string.
a="hello"
b=a+"world"
print(b)

helloworld

In [3]:
#17)WAS to concat the new string into the middle of the given string.
given_string = "Hello World"
new_string = " New"
middle_index = len(given_string) // 2
print(middle_index)
result = given_string[:middle_index] + new_string + given_string[middle_index:]
print(result)

11
5
Hello New World

In [1]:
#18)WAS to replace the duplicate character into a new character of the given string.
a = 'hello'
a = a[:2] + 'w' + a[3:]
print(a)

hewlo

In [1]:
#19)WAS to delete the specific character in the given string.
a = 'hello'
index_to_remove = 2
a = a[:index_to_remove] + a[index_to_remove + 1:]
print(a)

helo

In [3]:
#20)WAS to concat the new string into the specific position of the given string.
a = "Hello"
b = "beautiful "
result= a[:7] + b + b[7:]
print(result)

Hello, beautiful ul

In [1]:
#21.WAS to concat the new value into the starting of the given list.
a="Hello"
b="How are you"
result=a
print(a+b)

HelloHow are you

In [2]:
#22)WAS to concat the new value into the ending of the given list.
a="hi"
print(a+"hello")

hihello

In [3]:
#23)WAS to concat the new value into the middle of the given list.
a = [10,20,30]
b = [60,70]
print(a + [40,50] + b)

[10, 20, 30, 40, 50, 60, 70]

In [7]:
#24)WAS to modify the new value into the specific position of the given list.
a = [10,20,30,40,90,50]
a[4:5+1:1] = [50,60]
print(a)

[10, 20, 30, 40, 50, 60]

In [9]:
#25)WAS to modify the new value into the starting of the given list.
a = [10,20,30,40,90,50]
a[0] =1
print(a)

[1, 20, 30, 40, 90, 50]

In [6]:
a = "1234"
b = "0"
new_string = b + a[1:]
print(new_string)

0234

In [11]:
s = "ad"
print(dict(s))

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [10]:
#26)WAS to modify the new value into the ending of the given list.
a = [10,20,30,40,90,50]
a[-1] = 5
print(a)

[10, 20, 30, 40, 90, 5]

In [14]:
#27)WAS to modify the new value into the middle of the given  list.
a = [10,20,30,40,90,50,60]
b = len(a)//2
a[b] = 3
print(a)

[10, 20, 30, 3, 90, 50, 60]

In [15]:
#28)WAS to modify the first 4 positions values into a given list.
a = [10,20,30,40,90,50]
a[0:3+1:1] = [1,2,3,4]
print(a)

[1, 2, 3, 4, 90, 50]

In [17]:
#29)WAS to delete the value in the specific position of the given list.
a = [10,20,30,40,90,50]
del a[3]     #40 will be deleted
print(a)

[10, 20, 30, 90, 50]

In [18]:
#30)WAS to delete the new value into the ending of the list.
a = [10,20,30,40,90,50]
del a[-1]     
print(a)

[10, 20, 30, 40, 90]

In [21]:
#31)WAS to delete the new value into the middle of the list.
a = [10,20,30,40,90,50]
b = len(a)//2
del a[b]    
print(a)

[10, 20, 30, 90, 50]

In [22]:
#32)WAS to concat the new value into starting of the tuple.
a = (1,2,3,4,5)
b = (-1,0) + a
print(b)

(-1, 0, 1, 2, 3, 4, 5)

In [25]:
#33)WAS to concat the new value into the middle of the tuple.
a = (1,2,3,4,5,6)
b = len(a)//2
new_values = (100,200)
a = a[:b] + new_values + a[b:]
print(a)

(1, 2, 3, 100, 200, 4, 5, 6)

In [29]:
#34)WAS to concat the new value into the ending of the tuple.
a = (1,2,3,4,5,6)
b = (7,) 
print(a+b)

(1, 2, 3, 4, 5, 6, 7)

In [33]:
#35)WAS to concat the new value into the set.
a = {1, 2, 3, 4}
new_value = {5}
a = a | new_value
print(a)

{1, 2, 3, 4, 5}

In [ ]:
#36)WAS to concat the new key and value into the dict.

In [35]:
#37)WAS to delete the specific key and value in the given dict.
a = {'a':1,'b':2,'c':3}
del a['a']
print(a)

{'b': 2, 'c': 3}

In [ ]:
#38)WAS to delete the set value.

In [37]:
#39)WAS to modify the specific value in the given dict.
a = {'a':1,'b':2,'c':3}
a['a'] = 9
print(a)

{'a': 9, 'b': 2, 'c': 3}

In [1]:
#40)WAS to concat the list value and tuple value by using type casting.
a = [100, 200, 300, 400]  # Define the list
b = (500, 600, 700, 800)  # Define the tuple

# Convert tuple to list
b_as_list = list(b)

# Concatenate the lists
c = a + b_as_list

# Print the concatenated list
print(c)

[100, 200, 300, 400, 500, 600, 700, 800]

In [2]:
#41)WAS to concat the list value and tuple value without using type casting
list_val = [1, 2, 3]
tuple_val = (4, 5, 6)

# Combine elements in a new list
combined = [*list_val, *tuple_val]

print(combined)

[1, 2, 3, 4, 5, 6]

In [4]:
#42)WAC to the given number is divisible by 3.
a = 30
if a%3 == 0:
    print("divisible by 3")

divisible by 3

In [5]:
#43)WAC to the given number is divisible by 2 and 6. 
a = 12
if a%2 == 0 and a%6 == 0:
    print("divisible by 6 and 12")

divisible by 6 and 12

In [7]:
#44)WAC to the given number, the last digit is divisible by 3. (don&#39;t use typecasting)
a = 39
b = str(a)
c = b[-1]
d = int(c)
if d%3 == 0:
    print("last digit divisible by 3")

last digit divisible by 3

In [ ]:
#45)WAC to the last digit of a given number is divisible by 3.(use typecasting)
a = 39
b = a%10
if b%3 == 0:
    print("last digit divisible by 3")

In [8]:
#46)WAC to the given number is greater than 150.
a = 159 
if a>150:
    print("given value is greater than 150")

given value is greater than 150

In [9]:
#47)WAC to the given number is greater than or equal to 100.
a = 100
if a>=100:
    print("given value is greater than or equal to 100")

given value is greater than or equal to 100

In [11]:
#48)WAC to the given number is less than 150, print the result.
a = 149
if a<150:
    print("given value is less than 150")

given value is less than 150

In [12]:
#49)WAC to the given number is less than or equal to 100.
a = 100
if a<=100:
    print("given value is less than or equal to 100")

given value is less than or equal to 100

In [13]:
#50)WAC to the given number is greater than 15 &amp; less than 24
a = 20
if 15<=a<=24:
    print("given number is greater than 15 and less than 24")

given number is greater than 15 and less than 24

In [14]:
#51)WAC to the given number is even.
a = 4
if a%2 == 0:
    print("even number")

even number

In [ ]:
#52)

In [15]:
#53)WAC to perform the replication of a given string with 6.
a = "hello"
b = a * 6
print(b)

hellohellohellohellohellohello

In [18]:
#54)WAC to the given number is divisible by 3 and also the number should be greater than 22.
a = 27
if a%3 == 0 and a>22:
    print("given number is divisible by 3 and greater than 22")

given number is divisible by 3 and greater than 22

In [19]:
#55)WAC to perform the length of the collection is even or not.
a = [1,2,3,4]
b = len(a)
if b%2 == 0:
    print("even")

even

In [26]:
#56)WAC to perform  the length of the collection is less than 55 and greater than 16.
a = [1,2,3,4]
b = len(a)
if b<55 and b>16:
    print("the length of the collection is less then 55 and gretaer than 16")
else:
    print("the length of the collection is not less then 55 and gretaer than 16")

the length of the collection is not less then 55 and gretaer than 16

In [27]:
#57)WAC to perform  the length of the collection is divisible by 5 and odd.
a = 25
if a%2 != 0 and a%5 == 0:
    print("the given length of the collection is divisible by 5 and odd")

the given length of the collection is divisible by 5 and odd

In [ ]:
#58)WAC to extract the middle position of a given collection.(str, lis, tuple)
a = [1,2,3,4,5,6]
b =

In [28]:
#59)WAC to the given number is greater than 20 and less than 30 and it should be even.
a = 26
if a%2 == 0  and a>20 and a<30:
    print("greater than 20 and less than 30 and it is even")

greater than 20 and less than 30 and it is even

In [1]:
#60)WAC to the given number is even and it should be less than 120.
a=30
if a<120 and a%2==0:
    print("a is even and less then 120")

a is even and less then 120

In [4]:
#61)WAC to the given number is even and present from 40 to 70 
a=60
if a>40 and a<70 and a%2==0:
    print("a is in between 40 and 70 and even number")

a is in between 40 and 70 and even number

In [5]:
#62)WAC to the given number is odd and it should be greater than 97.
a=99
if a%2!=0 and a>97:
    print("a is odd and greater then 97")

a is odd and greater then 97

In [6]:
#63)WAC to the given number is less than 122 and greater than 48 and the number
a=99
if a<122 and a>48:
    print("a is greater then 122 and less then 48")

a is greater then 122 and less then 48

In [7]:
#64)WAC to the given number is divisible by 3 or 5, displaying the value.
a=15
if a%5==0 and a%3==0:
    print("a is divisible by 3 and 5")

a is divisible by 3 and 5

In [8]:
#65)WAC to the given number is between 100 to 200 including the limit.
a=150
if a>100 and a<200:
    print("a is in between 100 and 200")

a is in between 100 and 200

In [ ]:
#66)WAC to the given number is in between 100 to 200.
a=150
if a>100 and a<200:
    print("a is in between 100 and 200")

In [10]:
#67)WAC to the given string&#39;s last character ASCII value should be divisible by 5. 
a="&#39;s"
b=a[-1]
c=ord(b)
if c%5==0:
    print("last character is divisible by 5")

last character is divisible by 5

In [29]:
#68)WAC to the given number is present between 60 to 130 and the number should be
#divisible by 3 and 4 and the last digit should be greater than 9.
a= 120
b = a%10
if a <= 60 <= 130 and a%3 == 0 and a%4 == 0 and b>9:
    print("matches all criteria")
else:
    print("criteria does not match")

criteria does not match

In [30]:
#69)WAC to the given number is even or less than 25.
a = 24
if a%2 == 0 and a<25:
    print("even number and less than 25")

even number and less than 25

In [31]:
#70)WAC to the given number is even or greater than 25.
a = 26
if a%2 == 0 and a>25:
    print("even number and less than 25")

even number and less than 25

In [33]:
#71)WAC to the given number is divisible by either 3 or 5.
a = 25
if a%3 == 0 or a%5 == 0:
    print("divisible by 3 or 5")

divisible by 3 or 5

In [34]:
#72)WAC to the given number is not an even number.
a = 5
if a%2 != 0:
    print("given number is  not an even number")

given number is  not an even number

In [35]:
#73)WAC to the given number is not a odd number
a = 4
if a%2 == 0:
    print("given number is  not and odd number")

given number is  not and odd number

In [37]:
#74)WAC to the given number is not a divisible by 3
a = 10
if a%3 == 0:
    print("divisible by 3")
else:
    print("not divisible by 3")

not divisible by 3

In [38]:
#75)WAC to the given number is not a divisible by 3 and  5
a = 15
if a%3 == 0 and a%5 == 0:
    print("divisible by 3 and 5")

divisible by 3 and 5

In [39]:
#76)WAC to the given number is not a divisible by 3 or 5
a = 25
if a%3 == 0 or a%5 == 0:
    print("divisible by 3 or 5")

divisible by 3 or 5

In [45]:
#77)WAC to the given character ascii value is not divisible by 5.
a = 'i'
b = ord(a)
if b%5 == 0:
    print("ascii value is divisble by 5")

ascii value is divisble by 5

In [46]:
#78)WAC to find out the ascii character in a given number.
a = 'b'
print(ord(a))

98

In [48]:
#79)WAC to find out the ascii value in a given character.
a = 109
print(chr(a))

m

In [49]:
#80)WAC to the given character is uppercase or not.
a = 'S'
if 'A' <= a <= 'Z':
    print("given character is uppercase")

given character is uppercase

In [52]:
#81)WAC to the given character is the alphabet.
a = 's'
if 'A' <= a <= 'Z' or 'a' <= a <= 'z':
    print("given character is alphabet")

given character is alphabet

In [53]:
#82)WAC to the given character is lowercase.
a = 's'
if 'a' <= a <= 'z':
    print("given character is lowercase")

given character is lowercase

In [54]:
#83)WAC to the given character is the ascii number.
a = 5
if 0<=a<=9:
    print("ascii number")

ascii number

In [55]:
#84)WAC to the given character is the special character.
a = '#'
if not('A'<= a <= 'Z' and 'a'<= a <= 'z' and 0<=a<=9):
    print("special character")

special character

In [1]:
#85)WAC to the given character should not be uppercase.
a = 's'
if not('A'<=a<='Z'):
    print("not an uppercase")

not an uppercase

In [3]:
#86)WAC to the given character should not be lowercase.
a= 'S'
if not('a'<=a<='z'):
    print("not a lowercase")

not a lowercase

In [6]:
#87)WAC to the given character should not be the alphabet.
a = '0'
if not('A'<=a<='z'):
    print("not an alphabet")

not an alphabet

In [8]:
#88)WAC to the given character should not be an ascii number.
a = 's'
if not('0'<=a<='9'):
    print("not an ascii number")

not an ascii number

In [9]:
#89)WAC to the given character is the special character.
a = '*'
if not('A'<=a<='z' and '0'<=a<='9'):
    print("special character")

special character

In [11]:
#90)WAC to the given character is a vowel.
a = 'e'
if a in 'aeiouAEIOU':
    print("vowel")

vowel

In [12]:
#91)WAC to the given character is  a consonant
a = 'b'
if a in 'bcdfghjklmnprstvwxyz':
    print("consonant")

consonant

In [14]:
#92)WAS to convert uppercase to lowercase in a given character.
a = 'A'
if 'A'<=a<='Z':
    print(chr(ord(a) + 32))

a

In [15]:
#93)WAS to convert lowercase to uppercase in a given character. 
a = 'a'
if 'a'<=a<='z':
    print(chr(ord(a) - 32))

A

In [17]:
#94)WAS to extract the previous character in the given character.
a = 'c'
print(chr(ord(a) - 1))

b

In [18]:
#95)WAS to extract the next character in the given character.
a = 'd'
print(chr(ord(a) + 1))

e