In [3]:
#WAP To Check if a Number is a Perfect Number or not.
# 6 is a perfect number because its divisors (excluding itself) are 1, 2, and 3. The sum of these divisors is 
# 1+2+3=6   1+2+3=6, which is equal to the number itself.
# 28 is another example. Its proper divisors are 1, 2, 4, 7, and 14. The sum of these divisors is 
# 1+2+4+7+14=28 1+2+4+7+14=28.

number = 29
pn = 0
for i in range(1,number):
    if number%i == 0:
        pn+=i
if pn == number:
    print("strong number")
else:
    print("not a strong number")

not a strong number

In [1]:
#  WAP which accepts a string from the user and prints the characters of the given string

a= 'string'
for i in a:
    print(i)

s
t
r
i
n
g

In [5]:
# WAP which accepts a string from the user and prints it in reverse order of the string.
a= 'string'
for i in a:
    print(i[::-1],end = "")

string

In [10]:
# WAP which accepts a string from the console and prints the characters that have even indexes

a = "hello world"
b = len(a)
c = ""
for i in range(b+1): #0,1,2,3,4,5,6,7,8,9,10
    if i%2 == 0:
        print(a[i],end="")

hlowrd

In [19]:
# WAP which accepts a string from the console and prints the characters that have odd indexes.
a = "hello world"
b = len(a)
for i in range(b):
    if i%2!=0 and a[i] != " ":
        print(a[i],end = "")

elol

In [30]:
# WAP to all Occurrences characters should be replaced to $ in a given String
a = "hello world" 
result = ""
for i in a:
    result += "$"
print(result)

replaced_string = ''.join(["$" for i in a])  #using list comprehensive syntax: var = [return value for char in collection]
print(replaced_string)

$$$$$$$$$$$
$$$$$$$$$$$

In [ ]:
# WAP to all Occurrences characters is more than one should be replaced to $ in a given String
a = "hello world" 
char_count = {}
for i in (a):
    if i in char_count:
        char_count[i] +=1
    else:
        char_count[i] = 1
result = "" 
for i in a:
    if char_count[i]>1:
        result+="$"
    else:
        result+=i 
print(result)

In [ ]:
# Write a program that accepts a sequence of lines as input and prints the lines after making it in the sentence should be the Title case.

In [1]:
#break

for number in range(1, 11):
    if number == 5:
        break  # Exit the loop when number is 5
    print(number)

print("Loop ended.")

1
2
3
4
Loop ended.

In [1]:
#continue
for number in range(1, 11):
    if number == 5:
        continue  # Skip the rest of the loop when number is 5
    print(number)

print("Loop ended.")

1
2
3
4
6
7
8
9
10
Loop ended.

In [2]:
#pass
for number in range(1, 11):
    if number == 5:
        pass  # Do nothing when number is 5
    print(number)

print("Loop ended.")

1
2
3
4
5
6
7
8
9
10
Loop ended.

12

In [8]:

#WAP to print the sum of the arrays
arr = [1,2,3,4,5]
sum = 0
for i in arr:
    sum+=i
print(sum)

15

In [3]:
#WAP to print the first three numbers sum from an array
arr = [10,20,30,40,50]
sum = 0 
for i in range(3):
    sum+=arr[i]
print(sum)

30

In [20]:
#Write a program to print the Fibonacci sequence up to n terms.
# fibonnaci series is the sum of the two preceding ones, usually starting with 0 and 1. 
# The sequence typically goes: 0, 1, 1, 2, 3, 5, 8, 13, 21, and so on.

a = 0
b = 1
print(a)
print(b)

for i in range(10):
    c = a+b
    print(c)
    a = b
    b = c

0
1
1
2
3
5
8
13
21
34
55
89

In [4]:
#palindrome:level,12321

a = "123341"
print(a[::-1])

143321

In [10]:
#wap to check weather the given number is palindrome or not

a = "121"
b = a[::-1]
if a == b:
    print("palindrome number")
else:
    print("not a palindrome number")

palindrome number

In [11]:
#factorial

# 5! = 120
result = 1
n=4
for i in range(1,n+1):
    result *= i
print(result)

24

In [7]:
#prime number the number which have only one multiple

integer = 5
factor = 0
for i in range(2,integer):
    if (integer%i==0):
        factor = factor+1  
if factor == 0:
    print("prime number")
else:
    print("not a prime number")

prime number

In [15]:
a = 210  #in a value i have 210
for i in range(0,3):
    a = (i) + a 
for i in range(3): #again loop was running three times
    print(a)

213
213
213

In [11]:
color = input()
length = len(color)
shuffle = ""  
for i in range(length):
    index = int(input())
    shuffle = color[index] + shuffle
print(shuffle)

teliov

In [20]:
name = "App"   
lenght = len(name)
for i in range(1,length+1):
    print(name[:i])

A
Ap
App
App
App
App

In [26]:
season = "ckbla"
length = len(season)
shuffle = ""

for i in range(length):
    index = int(input())
    shuffle = shuffle+season[index]
print(shuffle)

black

In [25]:
names = "App"   
lenght = len(names)
for index in range(1,length+1):
    print(names[:index])

A
Ap
App
App
App
App

In [28]:
for i in range(3):
    if i == 1:
        continue
    print(i)
print("end")

0
2
end

In [32]:
c =0 
for i in range(1,9):
    if (i%2 == 1):
        continue
    c = c+i
print(c)

20

In [34]:
for i in range(3):
    if i == 0:
        break
    print(i)

In [38]:
c = 0
for i in range(8):
    if i>=3:
        break
    c = c+i
print(c)

3

In [39]:
number = 1
while number>4:
    number = number * 2
    break
    print(number)
print("good morning!")

good morning!

In [40]:
count = 14
for i in range(14):
    count = count - i   
    if i == 3:
        break
print(count)

8

In [41]:
for count in range(0):
    continue
    print(count)
print("mi")

mi

In [20]:
for i in range(1,11):
    print(f"400 * {i} = {400*i}")

400 * 1 = 400
400 * 2 = 800
400 * 3 = 1200
400 * 4 = 1600
400 * 5 = 2000
400 * 6 = 2400
400 * 7 = 2800
400 * 8 = 3200
400 * 9 = 3600
400 * 10 = 4000

In [44]:
c = 1
for i in range(2,8):
    if i%2 == 0:
        pass
    c = c+1
print(c)

7

In [45]:
result = 1
for i in range(5):
    for j in range(4,6):
        if i<j:
            result+=1
print(result)

10

In [47]:
count1 = 0
count2 = 14

for i in range(4,6):
    for j in range(i):
        count1 = count1+1
    count2 = count2 - 1
print(count2)
print(count1)

12
9

In [48]:
c = 0
for i in range(1):
    for j in range(i):
        c = c+1
print(c)

0

In [50]:
c = 0
for i in range(5,6):
    for j in range(5,5):
        c = c + (i+j)
print(c)

0

In [51]:
result = 1
for i in range(5,7):
    for j in range(5,7):
        if i%j != 0:
            result+=1
print(result)

3

In [2]:
for i in range(0):
    for j in range(1):
        print(j)
    print(i)

In [7]:
n = 2
for i in range(1,3):
    k = n -1
    while (k>=0):
        spaces = " " * k
        stars = "*" * (i-1) + "*"
        k = k-1
    print(spaces+stars)

*
**

In [9]:
for i in range(1,3):
    for i in range(3,4):
        print("Hello")

Hello
Hello

In [10]:
i = 0
count = 1
while (i<3):
    j = 2
    while (j<3):
        if (i*j < 6):
            count+=1
        j+=1
    i+=1
print(count)

4

In [12]:
word1 = "c"
word2 = "c"
for i in range(0,len(word1)):
    print("Hi")
    for j in range(0,len(word2)):
        print("All")
print("end")

Hi
All
end

In [13]:
for i in range(2,5):
    print("loop1: ",str(i))
    for j in range(2,i):
        print(" loop2: ",str(j))

loop1:  2
loop1:  3
 loop2:  2
loop1:  4
 loop2:  2
 loop2:  3

In [18]:
name1 = "Happyg"
name2 = "coding"
total = 0
for i in name1:
    for j in name2:
        if i == j:
            total+=1
print(total)

1

In [16]:
number = 2
for i in range(0,number+1):
    text = ""  
    res = number - i 
    for j in range(res):   # after completing of inner iteration it will go to the outer iteration
        text = text + str(res)
    print(text)

In [17]:
st = "" 
for i in range(2,3):
    for j in range(2,3):
        st = st + str(j)
    print(st)

2

In [12]:
for i in range(1,2):
    for j in range(5,5):
        print("Good night")

In [20]:
for i in range(1):
    total = 0
    for j in range(2,5):
        total = total + j
        if total>0:
            print(total)

2
5
9

In [25]:
for i in range(2,3):
    for j in range(3,5):
        print(i)
k = 1
while k < 3:
    l = 3
    while l<5:
        print(k)
        l = l+1
    k = k+1

2
2
1
1
2
2

In [30]:
for i in range(4,5):
    for i in range(3,5):
        print(str(i) + "*" + str(j) + "=" + str(i * j))

3*4=12
4*4=16

In [11]:
for i in range(3,4):
    for j in range(3,5):
        print(str(i) + "*" + str(j) + "=" + str(i * j))

3*3=9
3*4=12

In [36]:
sum1 =0 
sum2 = 0
for i in range(1,6):
    j = 4
    while(j<10):
        if i<j:
            sum2 = sum2+1
        else:
            sum1 = sum1+1
        j = j+1
print(sum1)
print(sum2)

3
27

In [38]:
pattern = ""  
for i in range(1,3):
    pattern = ""  
    for j in range(1,i+1):
        if (i == j):
            pattern = pattern + str(j)
        else:
            pattern = pattern + str(j) + " "
    print(pattern)

1
1 2

In [42]:
for i in range(1,3):
    for j in range(1,4):
        if (i == j):
            print("Square of " + str(i) + " is " + str(i *j))

Square of 1 is 1
Square of 2 is 4

In [1]:
i = 11
while (i<12):
    j = 5
    while (j>1):
        print(i)
        j = j - 1
    i+=1

11
11
11
11

In [60]:
#remove duplicate characters

a = "hello0000"
b = ""  
for i in a:
    if i not in b:
        b+=i 
print(b)
#------------------
i = 0
while i < len(a):
    if a[i] not in b:
        b+=a[i]
    i+=1
print(b)

helo0
helo0

In [4]:
#wap to print the prime numbers from 1 to 20

n = 20
for i in range(2,n+1):
    for j in range(2,i):
        if i%j == 0:
            break
    else:
        print(i)

2
3
5
7
11
13
17
19

In [12]:
#flag:In programming, a flag is a variable that is used to indicate a particular condition or state within the code. Typically, 
# a flag is a boolean variable, meaning it can have one of two values:True or False

#WAP to print the prime numbers from  m to n if no prime are found in the range print no prime numbers found

m = int(input())
n = int(input()) 
found = False   #here i used flag
for i in range(m,n):
    for j in range(2,i):
        if (i%j) == 0:
            break
    else:
        print(i)
        found = True
if not found:
    print("No prime Numbers found")

2
3
5
7
11
13

In [24]:
m = 2
n = 3
counter = 1
for i in range(m , m+2):
    for j in range(n,n+3):
        print(counter, end = " ")
        counter+=1
    print()

1 2 3
4 5 6

In [10]:
list = [1,3,4,5,6,7]
list += ["tap"]
print(list)

[1, 3, 4, 5, 6, 7, 'tap']

In [5]:
list_a = [1,2]
list_b = ["a","b"]
list_c = [list_a,list_b]
print(list_c)

[[1, 2], ['a', 'b']]

In [11]:
digits = []
for num in range(2,7):
    digits = [num]
print(digits)

[6]

In [8]:
#write a program to store non repeting characters in list
s = "Hello"
char_count = {}
constants = []
for i in s:
    if i in char_count:
        char_count[i]+=1
    else:
        char_count[i] = 1
for char,count in char_count.items():
    if count == 1:
        constants.append(char)
print(constants)

['H', 'e', 'o']

In [20]:
n = 5
for i in range(n,0,-1): 
    # print(i) (start,stop,step)
    for j in range(1,i+1):
        print(j,end=" ")
        n-=1 
    print() #it will move to the next line

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [22]:
m = 2
n = 3
c =1
for i in range(m,m+2):
    for j in range(n,n+3):
        print(c, end = " ")
        c+=1
    print()

1 2 3
4 5 6

In [22]:
m = 4
row_lenght = 1
c = 1
for i in range(1,m+1):
    for j in range(i,row_lenght):
        print(c, end = " ")
        c += 1 
        row_lenght+=1
    print()

In [4]:
n = 5
for i in range(1,n+1):
    print("",(n-i),end=" ")
    for j in range(i):
        print(i,end=" ")

 4 1  3 2 2  2 3 3 3  1 4 4 4 4  0 5 5 5 5 5

In [9]:
n =4
for i in range(1,5):
    print(i,end=" ")
print()
for i in range(n-2):
    print(1,end=" ")
    for j in range(n-2):
        print(" ",end = " ")
    print(n)
for i in range(1,n+1):
    print(i,end = " ")

1 2 3 4
1     4
1     4
1 2 3 4

In [35]:
# 1
# 1 2
# 1   3
# 1     4
# 1 2 3 4

n = 4
print(1)
for j in range(2,n+1):
    print(1,end=" ") 
    print(" "*(j-2),end = " ")
    print(j)
for j in range(1,n+2):
    print(j,end = " ")
print()

1
1  2
1   3
1    4
1 2 3 4 5

In [53]:
#hollow rectangle
# 7 8 9 10
# 7     10
# 7 8 9 10

m = 5
n = 4

for i in range(m,m+n):
    print(i,end = " ")
print()
for i in range(n-2):
    print(m,end = " ")
    print(" "*(n-2),end="")
    print(m+n-1)
for i in range(m,m+n):
    print(i,end = " ")
print()

5 6 7 8
5   8
5   8
5 6 7 8

In [2]:
n = int(input())
triplets = []
for a in range(1,n):
    for b in range(a+1,n):
        for c in range(b+1,n):
            if a**2 + b**2 == c**2:
                triplets.append((a,b,c))
print(triplets)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15)]

In [7]:
m=4
n=5
count = 1
for i in range(1,m+1):
    for j in range(1,n+1):
        if i == 1 or j == 1 or j == n or i == m:
            print(count,end = " ")
        else:
            print(" ",end = " ")
        count+=1
    print()

1 2 3 4 5
6       10
11       15
16 17 18 19 20

In [16]:
n = 5
s = 6
start = s
for i in range(n):
    print(start+i,end = " ")
print()
for i in range(1,n):
    print(" "*i,end = "")
    print(start,end = "")
    if i<n-1:
        print(" "*(2*(n-i-1)-1),end = "")
        print(start + (n-i-1))
    else:
        print()

6 7 8 9 10
 6     9
  6   8
   6 7
    6

In [22]:
n = int(input())
for i in range(1,n+1):
    print(i,end = " ")
print()
for i in range(1,n):
    print(" "*i,end = "")
    print(n,end = "")
    if i<n-1:
        print(" " *(2*(n-i-1)-1),end = "")
        print((n-i))
    else:
        print()

1 2 3 4 5
 5     4
  5   3
   5 2
    5

In [31]:
n = 5
for i in range(1,n+1):
    print(i,end=" ")
print()
for i in range(1,n):
    print(1," "*i,end = "")
    print(end = " ")
    if i<n-1:
        print("" * (2*(n-i)),end = "")
        print(n-i)
    else:
        print()

1 2 3 4 5
1   4
1    3
1     2
1

In [2]:
n = int(input())
digits = str(n)
power = len(digits)
sum=0
for i in digits:
    a = (int(i)**power)
    sum+=a 
if sum == n:
    print("armstrong number")
else:
    print("not an armstrong number")

153
armstrong number

In [18]:
n = int(input())

start_number = 1

for row in range(1, n + 1):
    if row == 1:
        first_row = ""
        for column in range(n):
            first_row += str(start_number) + " "
            start_number += 1
        print(first_row)
    elif row == n:
        last_row = str(start_number)
        print(last_row)
    else:
        each_row = str(start_number) + " "
        hollow_spaces = "  " * (n - row - 1)
        each_row += hollow_spaces
        start_number += int(len(hollow_spaces) / 2) + 1
        each_row += str(start_number) + " "
        start_number += 1
        print(each_row)

1 2 3 4 5 6 7
8         13
14       18
19     22
23   25
26 27
28

In [11]:
start = 2
for i in range(1,10):
    start = start * 1
    print(start)

3
4
5
6
7
8
9
10
11

In [21]:
n = 7
start_number = 1

for row in range(1, n + 1):
    if row == 1:
        first_row = ""
    for column in range(n):
        first_row += str(start_number) + " "
        start_number += 1
    print(first_row)

1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9 10 11 12 13 14
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [3]:
count = 1
for i in range(10):
    if (i%2==0):
        continue
    count+=1
print(count)

6

In [4]:
num = 6 
count = 1
for i in range(1,num+1):
    if (i%2==1):
        continue
    count = count+i
print(count)

13

In [5]:
for num in range(5):
    continue
    print(num)
print("Hello")

Hello

In [6]:
total = 1
for i in range(4):
    total = total + i 
    if i == 2:
        break
print(total)

4

In [7]:
count = 1 
for i in range(10):
    if (i%3==0):
        pass 
    count = count + 1 
print(count)

11

In [8]:
count = 0 
for i in range(20):
    if (i%2==0):
        pass
    count = count+1
print(count)

20

In [23]:

str = "sdgskdhsdf"
output = ""
for i in set(str):
    count = str.count(i)
    output += f"{i}:{count} "
output = output[:-1]
print(output)

g:1 d:3 f:1 h:1 k:1 s:3

In [1]:
str = "sdgskdhsdf"
output = {}  # Initialize as an empty dictionary

for i in set(str):
    count = str.count(i)
    output[i] = count  # Assign the count to the dictionary with the character as the key

print(output)

{'h': 1, 'g': 1, 's': 3, 'f': 1, 'k': 1, 'd': 3}

In [25]:
# WAP To Print all Integers that Are Divisible by Either 2 or 3 and Lie between 1 and 5.

for i in range(1,5+1):
    if i%2 == 0 or i%3 == 0:
        print(i)

2
3
4

In [26]:
# WAP To Print all Integers that Are not Divisible by Either 2 or 3 and Lie between 1 and 5.

for i in range(1,5+1):
    if i%2 != 0 or i%3 != 0:
        print(i)

1
2
3
4
5

In [40]:
# WAP which will find all such numbers which are divisible by 7 but are not a
# multiple of 5, between 2000 and 3200 (both included).
# The numbers obtained should be printed in a comma-separated sequence on a
# single line.
numbers = []

for i in range(2000, 3200 + 1):
    if i % 7 == 0 and i % 5 != 0:
        numbers.append(str(i))
print(",".join(numbers))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [45]:
# WAP To Find and print all the Divisor(factors) of a given Integer number.

factor = 5 
result = 1
for i in range(1,factor+1):
    result *= i 
print(result)

120

In [ ]:
# WAP To Find the Smallest Divisor(factors) of a given Integer number.
factor = 5 
result = 1 
for i in range(1,factor+1):
    result *= i

In [1]:
for i in range(3):
    if i == 0:
        break
    print(i)
print("end")

end

In [2]:
for i in range(4):
    if i > 2:
        continue
    print(i)
print("the end")

0
1
2
the end

In [5]:
counter = 1
for i in range(8):
    if i >=3:
        break
    counter = counter + i
print(counter)

4

In [6]:
for i in range(5):
    continue 
    print(num)
print("Hello")

Hello

In [7]:
num1 = 4 
num2 = 0 
i = 0 
while True:
    num2 = num2 + i 
    i = i+2 
    if i > num1:
        break 
print(num2)

6

In [19]:
for i in range(97,123):
    print(chr(i),end = ",")

a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,

In [23]:
print(("S" > "R") and ("S">"r"))

False

In [24]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [25]:
chara = "word"
print(ord(chara))

TypeError: ord() expected a character, but string of length 4 found

In [40]:
for i in range(71,79):
    print(chr(i))

G
H
I
J
K
L
M
N

In [32]:
print(ord("a") - ord("z"))
print(ord("Z") - ord("a") == (ord("z") - ord("A")))

-25
False

In [33]:
color = "Blue" 
total = 0
for i in color:
    total = total + ord(i)
print(total)

392

In [34]:
print(chr(ord("H")) + chr(ord("k") - (68 % 5)))

Hh

In [36]:
signal = "Green_light" 
flag = False
for i in signal:
    if (i == i.lower() or i == "_"):
        continue 
    else:
        flag = True 
        break
if flag == False:
    print("snake case")
else:
    print("not snake case")

not snake case

In [39]:
print(chr(ord("K".lower()) - 32))

K

In [48]:
print((ord("k") - ord("M")) == (ord("m") - ord("k")))
print(ord("z") - ord("a"))
print(ord("H") + ord("h"))
print(ord("z"))
print(ord("Z") - ord("A"))

False
25
176
122
25

In [49]:
for i in range(65,90):
    print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y