In [5]:
#2) WAP to print the number from 1 to 10 by using a while loop.
start=1
end=10
while start<=end:
    print(start,end=",")
    start+=1

1,2,3,4,5,6,7,8,9,10,

In [6]:
#3. WAP to print the natural number until 1 to nth times by using a while loop.
start=1
n=20
while start<=n:
    print(start,end=",")
    start+=1

1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,

In [13]:
#4)WAP to print the reverse of the natural number nth to 0 times by using a while loop.
start=0
n=20
while n>=start:
    print(n,end=",")
    n-=1

20,19,18,17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0,

In [22]:
#5)WAP to print the whole number until nth times by using a while loop.
start=0
end=10
while start<=end:
    print(start,end=",")
    start+=1

0,1,2,3,4,5,6,7,8,9,10,

In [23]:
#6)WAP to print the reverse of the whole number until nth times by using a while loop.
start=0
n=20
while n>=start:
    print(n,end=",")
    n-=1

20,19,18,17,16,15,14,13,12,11,10,9,8,7,6,5,4,3,2,1,0,

In [30]:
#7)WAP to print the even number until nth times by using a while loop.
start=0
end=20
while start<=end:
    if start%2==0:
        print(start,end=",")
    start+=1

0,2,4,6,8,10,12,14,16,18,20,

In [32]:
#8)WAP to print reserve the even number until nth times by using a while loop.
start=20
end=0
while start>=end:
    if start%2==0:
        print(start,end=",")
    start-=1

20,18,16,14,12,10,8,6,4,2,0,

In [33]:
#9)WAP to print the odd number until nth times by using a while loop.
start=0
end=20
while start<=end:
    if start%2!=0:
        print(start,end=",")
    start+=1

1,3,5,7,9,11,13,15,17,19,

In [34]:
#10)WAP to print reserve the odd number until nth times by using a while loop.
start=20
end=0
while start>=end:
    if start%2!=0:
        print(start,end=",")
    start-=1

19,17,15,13,11,9,7,5,3,1,

In [37]:
#11. WAP to print the nth table 1 to 20, format ==> 5 * 1 = 5 to 5 * 20 = 100
start=1
end=20
n=5
while start<=end:
    print(f"{n} * {start} = {n * start}")
    start+=1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60
5 * 13 = 65
5 * 14 = 70
5 * 15 = 75
5 * 16 = 80
5 * 17 = 85
5 * 18 = 90
5 * 19 = 95
5 * 20 = 100

In [40]:
#12. WAP to print the nth table 20 to 1, format ==> 5 * 20 = 100 to 5 * 1 = 5
start=20
end=1
n=5
while start>=end:
    print(f"{n} * {start} = {n * start}")
    start-=1

5 * 20 = 100
5 * 19 = 95
5 * 18 = 90
5 * 17 = 85
5 * 16 = 80
5 * 15 = 75
5 * 14 = 70
5 * 13 = 65
5 * 12 = 60
5 * 11 = 55
5 * 10 = 50
5 * 9 = 45
5 * 8 = 40
5 * 7 = 35
5 * 6 = 30
5 * 5 = 25
5 * 4 = 20
5 * 3 = 15
5 * 2 = 10
5 * 1 = 5

In [41]:
#13. WAP to print the numbers which are divisible by 3 from 25 to 66.
start=25
end=66
while start<=end:
    if start%3==0:
        print(start)
    start+=1

27
30
33
36
39
42
45
48
51
54
57
60
63
66

In [42]:
#14. WAP to print the numbers which are divisible by 3 and 5 from 15 to 76.
start=15
end=76
while start<=end:
    if start%3==0 and start%5==0:
        print(start)
    start+=1

15
30
45
60
75

In [43]:
#15. WAP to print the numbers which are divisible by 5 and 7 from 77 to 22.
start=77
end=22
while start>=end:
    if start%5==0 and start%7==0:
        print(start)
    start-=1

70
35

In [44]:
#16. WAP to print the ”love you” if value is divisible by 3, or print “hate you” value is
#divisible by 5, to print “i like you” if divisible by 3 and 5, from 1 to 30.
start=1
end=30
while start<=end:
    if start%3==0:
        print("love you")
    if start%5==0:
        print("hate you")
    if start%3==0 and start%5==0:
        print("i like you")
    start+=1

love you
hate you
love you
love you
hate you
love you
love you
hate you
i like you
love you
hate you
love you
love you
hate you
love you
love you
hate you
i like you

In [46]:
#17. WAP to print sum of the 1 to nth natural numbers.
start=1
n=10
while start<=n:
    print(start)
    start+=1

1
2
3
4
5
6
7
8
9
10

In [48]:
#18. WAP to print sum of the even numbers 1 to 20 numbers.
start=1
end=20
while start<=end:
    if start%2==0:
        print(start)
    start+=1

2
4
6
8
10
12
14
16
18
20

In [3]:
#19. WAP to print products of the 1 to 6 numbers.
start=1
end=6
product=1
while start<=end:
    product*=start
    start+=1
print(product)

720

In [4]:
#20. WAP to count the no of odd values from 1 to 30 numbers.
start=1
end=30
count=0
while start<=end:
    if start%2==0:
        count+=1
    start+=1
print(count)

15

In [ ]:
#21. WAP to print the factors of the given number.
n=5
i=1
while i<=n:
    if

In [ ]:
#22. WAP to sum of the factors of the given number.

In [ ]:
23. WAP to prod of the factors of the given number.

In [ ]:
24. WAP to print Fibonacci series 0 to nth.

In [ ]:
25. WAP to find out the factorial number of a given number.

In [ ]:
26. WAP to print the factorial numbers in the given range m to n.

In [ ]:
27. WAP to check whether a given number is a prime number or not.

In [ ]:
28. WAP to print the prime numbers in the given range m to n.

In [ ]:
29. WAP to check whether a given number is an armstrong number or not.

In [ ]:
30. WAP to print the armstrong numbers in the given range m to n.

In [ ]:
31. Write a program to print prime series 1 to nth.

In [ ]:
32. Write a program to print 1 to 100 prime numbers in fibonacci series

In [ ]:
33. Write a program Sum of prime numbers in a given collection

In [ ]:
34. WAP to the given number is palindrome or not.

In [ ]:
35. WAP to check whether the length of the string is even or odd. If it is even, print
that string 10 times. If it is not printed 5 times.

In [ ]:
36. WAP to print the uppercase character from ‘A’ to ‘Z’ by using a while loop.

In [ ]:
37. WAP to print the lowercase character from ‘a’ to ‘z’ by using a while loop.

In [ ]:
38. WAP to print the ascii numbers character from ‘0’ to ‘9’ by using a while loop.

In [ ]:
39. WAP to print the uppercase character from ‘E’ to ‘U’ by using a while loop.

In [ ]:
40. WAP to print the uppercase character from ‘Z’ to ‘A’ by using a while loop.

In [ ]:
41. WAP to print the uppercase character from ‘U’ to ‘G’ by using a while loop.

In [ ]:
42. WAP to print the lowercase character from ‘i’ to ‘y’ by using a while loop.

In [ ]:
43. WAP to print the lowercase character from ‘z’ to ‘a’ by using a while loop.

In [ ]:
44. WAP to print the lowercase character from ‘p’ to ‘c’ by using a while loop.

In [ ]:
45. WAP to print the uppercase characters based on even ascii values.

In [ ]:
46. WAP to print the lowercase characters based on even ascii values.

In [ ]:
47. WAP to print the uppercase characters based on odd ascii values.

In [ ]:
48. WAP to print the lowercase characters based on odd ascii values.

In [ ]:
49. WAP to print all the even characters from ‘A’ to ‘Z’.

In [ ]:
50. WAP to print all the odd characters from ‘a’ to ‘z’.

In [ ]:
51. WAP to count the number of vowels present in D to V.

In [ ]:
52. WAP to count the number of vowels present in u to e.

In [ ]:
53. WAP to print the square of the number in between the range from m to n which
is multiple of 3. WAP to print a number from range m to m which is divisible by
5.

In [ ]:
54. Write a program which takes an integer number and find the sum of digits and
repeat until the sum gets a single digit in the end.
Example:
Input 5643
Example:
5+6+4+3 =>18
1+8=>9
Output 9

In [ ]:
55. Write a program to count the numbers of 2’s between 0 and n
Input n=35
Example: 2,12,20,21,22,23,24,25,26,27,28,29,32
Output 14

In [ ]:
56. Write a program to find max product of three numbers from the given integer
array
Input arr() =6,3,2,0,10
Example: 10*6*2
Output =180.

In [ ]:
57. Write a java program to find the largest number ‘M’ less than a given number ‘N’
which should not contain a given digit ‘D’.
For example, if 150 is the given number and 5 is the given digit, then you should
find the largest number less than 150 such that it should not contain 5 in it. In this
case, 149 will be the answer.

In [ ]:
58. WAP to print all the characters in a given string.

In [ ]:
59. WAP to print all the items present in the string between the range from m to n.

In [ ]:
60. WAP to print the uppercase characters in a given string.

In [ ]:
61. WAP to print the lowercase characters in a given string.

In [ ]:
62. WAP to print the ascii numbers(Digits) characters in a given string.

In [ ]:
63. WAP to print the special characters in a given string.

In [ ]:

64. WAP to Print the vowels in a given string.

In [ ]:
65. WAP to Print the consonants in a given string.

In [ ]:
66. WAP to print the reverse of the characters in a given string.

In [ ]:
67. WAP to print even position values characters in a given string.

In [ ]:
68. WAP to print odd position values characters in a given string.

In [ ]:
69. WAP to count the total Number of characters in a given string.

In [ ]:
70. WAP to count alphabets in a given string.

In [ ]:
71. WAP to count Number of uppercase in a given string.

In [ ]:
72. WAP to count lowercase in a given string.

In [ ]:
73. WAP to count Number of special symbols in a given string.

In [ ]:
74. WAP to count uppercase and lowercase in a given string.

In [ ]:
75. WAP to count Number of ascii numbers in a given string.

In [ ]:
76. WAP to Count Total Number of Words in a String.

In [ ]:
77. WAP to Count Total Number of spaces in a String.

In [ ]:
78. WAP to Count Vowels in a String.

In [ ]:
79. WAP to Count consonants in a String.

In [ ]:
80. WAP to Count Vowels and Consonants in a String.

In [ ]:
81. WAP to count Number of new lines in a given string.
82. WAP to count Number of lines in a given string.
83. WAP to count no of alphabets, numbers, and special characters in a given string.
84. WAP to Count Total no of words in a first line of the Doc String.
85. WAP to sum of digits in a given string.
86. WAP to Print First Occurrence of a Character in a String.
87. WAP to Print Last Occurrence of a Character in a String.
88. WAP to Print First not Occurrence of a Character in a String.
89. WAP to Print last not Occurrence of a Character in a String.
90. WAP to Remove First Occurrence of a Character in a String.
91. WAP to Remove Last Occurred Character in a String.
92. WAP to count the occurrence of a specific character in a given string.
93. WAP to count the max occurrence of a character in a given string.
94. WAP to count the min occurrence of a character in a given string.

95. WAP to count the repeats of a specific character in a given string.
96. WAP to count the max repeated character in a given string.
97. WAP to count the min repeated character in a given string.

In [ ]:
82. WAP to count Number of lines in a given string.

In [ ]:
83. WAP to count no of alphabets, numbers, and special characters in a given string.

In [ ]:
84. WAP to Count Total no of words in a first line of the Doc String.

In [ ]:
85. WAP to sum of digits in a given string.

In [ ]:
86. WAP to Print First Occurrence of a Character in a String.

In [ ]:
87. WAP to Print Last Occurrence of a Character in a String.

In [ ]:
88. WAP to Print First not Occurrence of a Character in a String.

In [ ]:
89. WAP to Print last not Occurrence of a Character in a String.

In [ ]:
90. WAP to Remove First Occurrence of a Character in a String.

In [ ]:
91. WAP to Remove Last Occurred Character in a String.

In [ ]:
92. WAP to count the occurrence of a specific character in a given string.

In [ ]:
93. WAP to count the max occurrence of a character in a given string.

In [ ]:
94. WAP to count the min occurrence of a character in a given string.

In [ ]:
95. WAP to count the repeats of a specific character in a given string.

In [ ]:
96. WAP to count the max repeated character in a given string.

In [ ]:
97. WAP to count the min repeated character in a given string.

In [ ]:
98. WAP to replace a specific character into a new character.

In [ ]:
99. WAP to convert lowercase to uppercase in a given string.

In [ ]:
100. WAP to convert uppercase to lowercase in a given string.